<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCfk-GcPmtit5m_b3eKS5AfLrUsZLyOcUU</string>
	<key>GCM_SENDER_ID</key>
	<string>1083745705008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Flagella</string>
	<key>PROJECT_ID</key>
	<string>flagella-reloaded</string>
	<key>STORAGE_BUCKET</key>
	<string>flagella-reloaded.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083745705008:ios:0ea372227240f20cc6a1f5</string>
</dict>
</plist>